---
const title =
  'Líderes en obras viales y urbanización en la Región de Valparaíso';
const content =
  'Construimos con enfoque técnico, eficiencia operativa y alto estándar en cada etapa del proyecto. Atendemos requerimientos públicos y privados con soluciones confiables y sostenibles.';
---

<section class="relative w-full h-[500px]  overflow-hidden">
  <!-- Fondo con parallax -->
  <div
    class="absolute inset-0 bg-banner bg-cover bg-no-repeat bg-fixed bg-left-top"
  ></div>

  <!-- Capa oscura con blur -->
  <div class="absolute inset-0 bg-black/40 backdrop-blur-[2px] z-10"></div>

  <!-- Contenido -->
  <div class="relative z-20 container h-full flex items-center">
    <div class="max-w-2xl">
      <h1 class="text-4xl font-bold text-white" set:html={title} />
      <p class="mt-6 text-lg text-white" set:html={content} />
    </div>
  </div>
</section>

<style>
  .bg-banner {
    background-image: url('/src/assets/images/gallery/1-(195).jpeg');
    background-position: 25% 30%; /* Primer tercio (tractor a la izquierda y arriba) */
  }

  @media (min-width: 768px) {
    .bg-banner {
      background-position: 20% 25%;
    }
  }

  @media (min-width: 1024px) {
    .bg-banner {
      background-position: 18% 22%;
    }
  }
</style>
