---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";

const entry = (await getEntry("pages", "404")) as CollectionEntry<"pages">;
---

<Base title={entry.data.title}>
  <section class="section">
    <div class="container">
      <div class="flex h-[40vh] items-center justify-center">
        <div class="text-center">
          <Image
            src="/images/logo_sin_texto.png"
            class="mb-4 inline"
            alt="logo"
            height={120}
            width={120}
          />
          <h1 class="mb-4" set:html="404" />
          <h3 class="mb-4" set:html="Página no encontrada" />
        </div>
      </div>
    </div>
  </section>
</Base>
