---
export const prerender = true;
import Base from '@/layouts/Base.astro';
import FormCompliance from '@/layouts/function-components/FormCompliance.jsx'
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';

const entry = (await getEntry(
  'contact',
  '-index'
)) as CollectionEntry<'contact'>;
const contact = entry.data;


const datos = {
  title: 'Canal de denuncias',
  description: `
    <p class="mb-4">Bienvenido al canal de reportes de Constructora Aragón Ltda.</p>
    <p class="mb-4"> El canal es un medio seguro para comunicar a los encargados de cumplimiento, la información o sospechas que tengas sobre infracciones de la <a href="https://www.bcn.cl/leychile/navegar?idNorma=1008668" class="underline decoration-2 decoration-[#f09300]" target="_blank">Ley N°20.393</a> sobre responsabilidad Penal de las Personas Jurídicas (sanciona el delito de cohecho, lavado de dinero, entre otros) o a la normativa interna de la Compañía (Ej.: Código de Ética). De igual forma, podrás realizar las consultas o inquietudes que tengas acerca del sistema de integridad que hemos implementado. Constructora Aragón Ltda. con el objetivo de garantizar la confidencialidad de las comunicaciones o denuncias, cuenta con una plataforma exclusiva que permite su tratamiento por un medio seguro por parte de los encargados de revisar la información y de realizar las eventuales investigaciones o resolver las inquietudes.</p>
    <p>En caso de que decidas agregar tu nombre en la denuncia, se mantendrá la confidencialidad de tu identidad, pudiendo tratarse los datos sólo por aquellos responsables del proceso de investigación y de sancionar los incumplimientos. En este caso, el denunciante consiente expresamente en el tratamiento de sus datos personales con la sola finalidad de analizar la información denunciada y llevar a cabo las investigaciones que resulten necesarias, en cumplimiento de la <a href="https://www.bcn.cl/leychile/navegar?idNorma=141599" class="underline decoration-2 decoration-[#f09300]" target="_blank">Ley N°19.628</a> sobre protección de datos personales. Conforme a la Política de Protección del Denunciante, en ningún caso se permitirán retaliaciones o represalias en contra de quién ha realizado una denuncia de buena fe y se adoptarán todas las medidas que sean necesarias para que se cumpla esta garantía.</p>
  `
};
---

<Base
  title="Compliance | Constructora Aragón Ltda."
  meta_title="Canal de denuncias | Constructora Aragón Ltda."
  description={contact.description}
>

  <section class="pt-0">
    <div class="max-w-3xl w-full mx-auto px-4">
      <div class="text-center">
        <h1 class="mb-5 mt-8 text-3xl font-bold" set:html={datos.title} />
        <div
          class="text-base text-justify text-gray-900"
          set:html={datos.description}
        />
      </div>
      <div class="my-10 w-full">
        <FormCompliance client:only="react"/>
      </div>
    </div>
  </section>
</Base>
